@media screen and (min-width: 968px) {
    .hero {
        flex-direction: column;
        /* flex: 0 1 50%; */
        width: 100%;
    }

    .aboutme {

        flex-direction: column;
        width: 100%;
        /* flex: 1 0 100%; */
    }





}