@media screen and (min-width: 468px) {
    .ul-li {
        flex-direction: column;

    }

    .paragraph {
        display: flex;
        flex: 0 2 auto;
        flex-wrap: wrap;
    }

    .line-item2 {

        flex-direction: column;

    }

    .h4_paragraph {

        flex: 1 0 50%;
        overflow: auto;
    }
}