@media screen and (min-width: 768px) {
    .hero {
        flex: 1 0 100%;


    }

    .header {

        flex: 0 1 50%;
        max-width: 100%;

    }

    .aboutme {
        flex-direction: column;
        width: 50%;
        flex-shrink: 50%;

    }

    .main {

        flex-direction: column;
        width: 100%;
        transition: all 0.5s ease-out;

    }

    .main:hover {
        box-shadow: inset 0 0 15px purple, 0 0 20px purple;

    }

    .li {
        transition: all 0.5s ease-out;
    }

    .li:hover {
        background-color: deepskyblue;

    }

}