@media screen and (min-width: 768px) {

    .image {

        flex: 0 1 75%;

    }

    .hero {
        flex: 0 1 75%;
        width: 150%;


    }

    .ul {
        flex-direction: row;
        position: sticky;
        left: 50%;
    }

    .header {

        flex: 0 1 50%;
        max-width: 100%;

    }

    /* .aboutme {
        flex-direction: row;
        width: 100%;


    } */

    .paragraph1 {
        flex: 0 1 60%;
        flex-wrap: wrap;

    }

    .main {

        flex-direction: column;
        width: 100%;
        transition: all 0.5s ease-out;

    }

    

    .main:hover {
        box-shadow: inset 0 0 15px purple, 0 0 20px purple;

    }

    .li {
        transition: all 0.5s ease-out;
    }

    .li:hover {
        background-color: deepskyblue;

    }

}