body {
    background: linear-gradient(45deg, #000000cf, transparent);
}

/* Setting the box layout to a row */
.aboutMe {


    display: flex;
    flex-direction: row;
    justify-content: center;

}

.div-h2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}

.h4_welcome {
    display: flex;
    border: 2px solid black;
    width: 56%;
    justify-content: center;
    font-size: large;
}

.h2 {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #546e7a;
    font-size: xx-large;
}


.nav-ul {
    margin-left: 10px;
    display: flex;
    justify-content: flex-end;


}

.li-aboutMe {
    display: flex;
    justify-content: flex-end;
    width: 20px;
    height: 200px;
    border: 2px solid black;

}

.ul-li {
    display: flex;
    gap: 10px;
    color: navajowhite;
    padding-right: 20px;
    padding-left: 15px;
    flex-direction: row;
}


/* Changing the nav links to the color below when hovering over */
.li-div:hover {
    background-color: rgb(55, 189, 194);

}

/* This will proivde a little interactivity to users hoving over the link */
.li-div {
    border: 2px black;
    border-style: outset;
    padding: 5px;
    border-radius: 45px;
    transition: .5s ease-in;
}

li {
    list-style-type: none;

}

.section-image {
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(45deg, black, transparent);
}

.picture {

    display: flex;
    flex-wrap: wrap;
    background-repeat: no-repeat;
    height: 100px;
    box-shadow: 10px 10px 10px rgb(83, 82, 82);
    margin: 10px;
    border-radius: 20px 20px 20px 20px;

}


.line-item1,
.line-item2 {
    border: 2px solid black;
    height: 200px;
    width: 200px;
}

.line-item2 {
    height: 200px;
    width: 100%;
    display: flex;
}

.line-item1 {
    display: flex;
    justify-content: center;
}

.about {

    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.my_work {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.h3_about_me {
    display: flex;
    justify-content: center;
    align-items: center;

}

.h4_paragraph {
    display: flex;

}

.contact_me {
    font-size: x-large;
}

.paragraph {
    margin: 10px;
    font-size: larger;
    flex-wrap: wrap;

}



.soon_box1 {
    border: 2px solid black;
    width: 300px;
    margin: 10px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

.soon_box1 img {
    width: 50%;
    padding-bottom: 5px;

}

.soon_box1 a {
    display: flex;
    justify-content: center;
}

.soon_box2,
.soon_box3 {
    border: 2px solid black;
    width: 150px;
    height: 150px;
    margin: 10px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;

    /* could not figure out how to group the soon_box classes to apply the transition hover effect without it affectin the whole document */
}

.soon_box1:hover {
    box-shadow: 10px 5px 5px rgb(133, 132, 132);
    transition: .5s ease-in;


}

.soon_box2:hover {
    box-shadow: 10px 5px 5px rgb(133, 132, 132);
    transition: .5s ease-in;

}

.soon_box3:hover {
    box-shadow: 10px 5px 5px rgb(133, 132, 132);
    transition: .5s ease-in;

}