body {
    background-color: rgba(117, 117, 116, 0.801);
}

.div-h2 {

    /* border: 2px solid black; */
    /* width: 100%; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}


.h2 {
    margin: 0;
    display: flex;
    /* border: 2px solid black; */
    flex-direction: column;
    justify-content: center;
    color: bisque;
}


.nav-ul {

    /* border: 2px solid black; */
    margin-left: 10px;
    display: flex;
    justify-content: flex-end;


}

.li-aboutMe {
    display: flex;
    justify-content: flex-end;
    width: 20px;
    height: 200px;
    border: 2px solid black;

}

.ul-li {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    color: navajowhite;
}

li {
    list-style-type: none;

}

.section-image {
    border: 2px solid black;
}

.picture {
    /* border: 2px solid black; */
    display: flex;
    flex-wrap: wrap;
    background-repeat: no-repeat;
    height: 100px;
    /* position: relative;
    left: 0px;
    top: 50px; */
    box-shadow: 10px 10px 10px rgb(83, 82, 82);
    margin: 10px;

}



.aboutMe {

    /* border: 2px solid black; */
    /* width: 75px; */
    display: flex;
    flex-direction: row;

}

.line-item1,
.line-item2 {
    border: 2px solid black;
    height: 200px;
    width: 200px;
}

.line-item2 {
    height: 200px;
    width: 100%;
}



.about {

    display: flex;
    flex-direction: row;
    margin-top: 10px;
}


.my_work {
    display: flex;
    flex-direction: row;
}

.h3_about_me {
    display: flex;
    justify-content: center;
    align-items: center;
}

.paragraph {
    margin: 10px;



}

.soon_box1,
.soon_box2,
.soon_box3 {
    border: 2px solid black;
    width: 150px;
    height: 150px;
    margin: 10px;
    flex-wrap: wrap;

}